@import "tailwindcss";

:root {
  --background: #0e1012;
  --foreground: #fff;
}

body {
  background-color: var(--background);
  background-image: url("/grain-bg.png"); 
  color: var(--foreground);
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
}

* {
  color: rgb(119, 119, 119);
}

.text-170, .skill-class, .bold-text, .desktop-nav-link:hover .nav-link-text {
    color: rgb(170, 170, 170)
}

.svg-icon:hover {
  fill: rgb(170, 170, 170);
}

.svg-icon {
  transition: all 0.3s ease-in-out;
}

.desktop-nav-link:hover .nav-link-hl{
  width: 3rem;
}

.hide-scrollbar{
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar{
  display: none;
}