.skills-li{
    display: flex;
    align-items: top;
    column-gap: 1rem;
    margin-bottom: .8rem;
}

.skill-type {
    flex-grow: 1;
    font-size: .95rem;
}

.experience-wrapper{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hl-bg{
    background-color: rgba(170, 170, 170, .5);
}




